<!-- tableRow.hbs -->
<tr>
    <td>{{this.ISBN}}</td>
    <td>{{this.img}}</td>
    <td>{{this.title}}</td>
    <td>{{this.author}}</td>
    <td>{{this.inventory}}</td>
    <td>{{this.category}}</td>
</tr>
